{% extends 'registration/base.html' %}
{% load bootstrap5 %}
{% block css %}

.form-signin {
    width:98%;
    padding-top:200px;
    height: 900px;
}

{% endblock css %}
{% block content %}
<div class="form-signin bg-dark m-3">
    <div class="card text-center mb-3 bg-light p-3"  style="width : 25rem;margin:auto;">
      <div class="card-body">
        <h4 class="card-title"><i class="bi bi-person">Login</i></h4>
          <form method="post">
        <p class="card-text">
            {%csrf_token%}
            {%bootstrap_form form%}
        
        <div class="d-grid gap-2">
          <button type="submit" name="" id="" class="btn btn-success">Login</button>
          <a href="/user/register/" class="btn btn-primary">Create Account</a>
        </div>
        </p>
              </form>
      </div>
    </div>
    
</div>


{% endblock content %}