{% extends 'base.html' %}
{% load bootstrap5 %}


{% block content %}

<div class="container">
    <div class="row">
      <div class="col-sm-4 m-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Todos</h3>
            <p class="card-text">Create Todos and make your life schedule</p>
            <p class="card-text">Edit Todos</p>
            <p class="card-text">Delete Todos</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 m-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Inventory Management</h3>
            <p class="card-text">Add Products</p>
            <p class="card-text">Generate Bill</p>
            <p class="card-text">See reports</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 m-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Youtube Downloader</h3>
            <p class="card-text">Download Videos</p>
            <p class="card-text">Download MP3</p>
            <p class="card-text">See Analytics</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 m-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Common Service Center</h3>
            <p class="card-text">Labour Management System</p>
            <p class="card-text">DL Applications and slots</p>
            <p class="card-text">Reports</p>
          </div>
        </div>
      </div>
    </div>
</div>


{% endblock content %}


{% block script %}

{% endblock script %}

